.square{
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #a6a4ff;
}

.btn{
    min-height: 40px;
    margin-bottom: 10px;
    width: 150px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -khtml-justify-content: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: #ff4845;
    color: #ffffff;
}